.copyright {
	text-align: center;
	background-color: #16161d;
	color: #fff;
	padding: 15px 0;
	margin: 0;
	position: relative;
	width: 100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright p a {
	color: #df4243;
}