footer {
	background-color: white;
	font-family: Playfair Display;
	font-size: 13px;
	border-top: 2px solid #576A7A;
	height: 200px;
}

footer .dingyuetit {
	position: relative;
	top: auto;
	margin: auto;
	color: black;
	font-size: x-large;
	font-family: "SmileySans-Oblique";
}

footer .bs {
	position: relative;
	top: auto;
	margin: auto;
	align-items: center;
}

footer .subcon {
	position: relative;
	top: auto;
	margin: auto;
	z-index: 1;
}

footer .email {
	position: absolute;
	top: auto;
	margin: auto;
	width: 30px;
	height: 20px;
	z-index: 1;
}

footer .sub {
	padding-left: 30px;
	padding: 0.5rem;
	position: relative;
	background-color: white;
	border: white 1px solid;
	width: auto;
	border-radius: 1px;
	border: 1px solid #576A7A;
	top: auto;
	margin: auto;
}

footer * {
	box-sizing: border-box;
}

footer a,
footer button2 {
	font-size: 12px;
}

footer a.button2 {
	text-decoration: none;
}

footer button2.button2 {
	border: none;
	background-color: transparent;
	font-family: "Suez One";
	padding: 0;
	cursor: pointer;
	font-style: oblique;
}

@media screen and (-ms-high-contrast: active) {
	footer button2.button2 {
		border: 2px solid currentcolor;
	}
}

footer a.button2,
footer button2.button2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	align-self: start;
	position: relative;
	top: auto;
	margin: auto;
	background-color: black;
	color: #fff;
	border-radius: 1px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
	padding: 0.2em 0.75em;
	min-width: 150px;
	min-height: 35px;
	text-align: center;
	line-height: 1.1;
	transition: 220ms all ease-in-out;
}

footer a.button2:hover,
footer a.button2:active,
footer button2.button2:hover,
footer button2.button2:active {
	background-color: black;
}

footer a.button2:focus,
footer button2.button2:focus {
	outline-style: solid;
	outline-color: transparent;
	box-shadow: 0 0 0 2px black;
}

footer a.button2--small,
footer button2.button2--small {
	font-size: 1.15rem;
}

footer a.button2--block,
footer button2.button2--block {
	width: 100%;
}

.footcontent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.subscription {
	flex-basis: 33%;
	box-sizing: border-box;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.subscription-input-wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.sub {
	margin-right: 10px;
}

.footer-wrapper {
	flex-basis: 33%;
	box-sizing: border-box;
	padding: 0 15px;
}

.contact-wrapper {
	flex-basis: 33%;
	box-sizing: border-box;
	padding: 0 15px;
	text-align: right;
}

.footer-wrapper .newsletters-form button {
	font-size: 18px;
	text-transform: capitalize;
}

.footer-wrapper .newsletters-form form input {
	font-size: 16px;
	height: 38px;
}

.footer-wrapper .newsletters-form form input::placeholder {
	font-size: 16px;
}

.footer-wrapper .newsletters-form form::-moz-placeholder {
	font-size: 16px;
}

.footer-title {
	font-family: "SmileySans-Oblique";
	font-size: x-large;
}

.footer-menu li {
	list-style-type: none;
	font-family: "SmileySans-Oblique";
	padding-bottom: 4px;
}

.footer-menu li:last-child {
	padding-bottom: 0;
}

.footer-menu li a {
	font-weight: 400;
	font-size: 13px;
	color: #666666;
	transition: .3s;
	text-transform: capitalize;
}

.footer-menu li a:hover {
	color: #df4243;
}

.footer-2-menu li {
	float: left;
	width: 50%;
}

.footer-link li {
	font-weight: 400;
	font-size: 13px;
	color: #666666;
	line-height: 1.8;
	list-style-type: none;
	font-family: "SmileySans-Oblique";
	padding-bottom: 7px;
}

.footer-link li:last-child {
	padding-bottom: 0;
}