.tag-item-0-common {
  align-self: center;
  font-size: 13px;
  line-height: 13px;
  color: #1f1f1f;
  text-decoration: none;
  letter-spacing: 0px;
  white-space: nowrap;
  lines: 1;
}
.title-common {
  align-self: flex-end;
  color: #292829;
  text-decoration: none;
  font-family: 'SmileySans-Oblique';
  letter-spacing: 0px;
}
.item-long-wrapper-item-0-common {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  height: 678px;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1366px;
  height: 1095px;
  background-color: #ffffff;
  background-image: url(./images/img_12.png),
    url(./images/img_13.png),
    url(./images/img_14.png),
    url(./images/img_15.png),
    url(./images/img_16.png);
  background-size: 1208px 78px, 267px 134px, 267px 137px, 186px 134px,
    186px 137px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 79px 338px, 832px 65px, 832px 200px, 1099px 65px,
    1099px 200px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 1366px;
  height: 65px;
  padding: 25px 12px 21px;
  background-image: url(./images/img_0.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-origin: padding-box;
}
.tech-code {
  align-self: center;
  margin-left: 85px;
  font-size: 22px;
  line-height: 22px;
  color: #1f1f1f;
  text-decoration: none;
  letter-spacing: 0px;
  white-space: nowrap;
  lines: 1;
}
.primary {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  height: 19px;
  padding: 1px 0 3px;
  margin-right: 93px;
}
.tag-item-0 {
  margin-top: 1px;
}
.tag-item-1 {
  margin: 0 0 1px 29px;
}
.tag-item-2 {
  margin: 1px 0 0 27px;
}
.tag-item-3 {
  margin: 1px 0 0 26px;
}
.tag-item-4 {
  margin: 0 0 1px 27px;
}
.tag-item-5 {
  margin: 0 0 1px 25px;
}
.tag-item-6 {
  margin: 1px 0 0 26px;
}
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  width: 1366px;
  padding: 0 12px 1px;
}
.banner {
  align-self: flex-start;
  width: 751px;
  height: 272px;
  margin-left: 69px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 1204px;
  margin-top: 24px;
}
.title {
  margin: 0 0 3px 49px;
  font-size: 28px;
  line-height: 28px;
  white-space: nowrap;
  lines: 1;
}
.more {
  overflow: hidden;
  width: 55px;
  height: 21px;
  margin-right: 19px;
  font-size: 20px;
  line-height: 11px;
  white-space: break-spaces;
  text-overflow: ellipsis;
  lines: 2;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
}
.body {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 1204px;
  margin-top: 24px;
}
.item-long-wrapper-item-0 {
  width: 230px;
  padding-bottom: 4px;
}
.label-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 230px;
  height: 51px;
  padding: 13px 12px 14px;
  background-image: url(./images/img_2.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-origin: padding-box;
}
.label {
  align-self: flex-start;
  overflow: hidden;
  width: 74px;
  height: 24px;
  font-size: 23px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0px;
  white-space: normal;
  text-overflow: ellipsis;
  lines: 2;
  webkit-line-clamp: 2;
  webkit-box-orient: vertical;
}
.item-long {
  align-self: center;
  width: 230px;
  height: 623px;
}
.item-long-wrapper-item-1 {
  width: 230px;
  margin-left: 13px;
  padding-top: 1px;
}
.product-long {
  align-self: center;
  width: 230px;
  height: 330px;
}
.item-long-1 {
  align-self: center;
  width: 230px;
  height: 333px;
  margin-top: 14px;
}
.item-long-wrapper-item-2 {
  width: 230px;
  padding-bottom: 4px;
  margin-left: 14px;
}
.product-long-1 {
  align-self: center;
  width: 230px;
  height: 331px;
}
.item-long-2 {
  align-self: center;
  width: 229px;
  height: 329px;
  margin: 14px 1px 0 0;
}
.item-long-wrapper-item-3 {
  width: 232px;
  padding-bottom: 3px;
  margin-left: 12px;
}
.product-long-2 {
  align-self: center;
  width: 231px;
  height: 331px;
  margin-left: 1px;
}
.item-long-3 {
  align-self: center;
  width: 229px;
  height: 330px;
  margin: 14px 3px 0 0;
}
.item-long-wrapper-item-4 {
  width: 232px;
  padding-bottom: 2px;
  margin-left: 11px;
}
.product-long-3 {
  align-self: center;
  width: 232px;
  height: 331px;
}
.item-long-4 {
  align-self: center;
  width: 229px;
  height: 330px;
  margin: 15px 3px 0 0;
}
.content-container {
  display: flex;
  justify-content: space-between;
}

.left-content {
  flex: 1;
  margin-right: 20px;
}

.right-content {
  flex: 1;
}