body {
  font-family: Arial, sans-serif;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.left-section {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-bottom-section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.product-status {
  margin-bottom: 20px;
  font-family: 'SmileySans-Oblique';
}

.brands {
  text-align: center;
}

.brand-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.brand-image {
  border: 1px solid #ccc;
  height: 40px;
  margin: 5px;
  width: 80px;
}

.brand-div {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 40px;
  margin: 5px;
  width: 80px;
  font-family: 'SmileySans-Oblique';
}

/* 品牌图片鼠标悬停效果 */
.brand-div:hover {
  transform: translateY(-5px);
}

.right-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - 290px);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* 比较按钮块状布局 */
a.compare-button {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* 去除链接下划线和默认蓝色 */
a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

button.compare-button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

/* 按钮样式 */
button.compare-button,
button.status-button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #242525;
  color: #fff;
  font-family: 'SmileySans-Oblique';
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 按钮鼠标悬停效果 */
button.compare-button:hover,
button.status-button:hover {
  background-color: #4d4f50;
}

/* 按钮间距调整 */
button.status-button {
  margin-right: 10px;
}

/* 品牌图片鼠标悬停效果 */
.brand-image:hover {
  transform: translateY(-5px);
}

.sidebar {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 48%; /* 可根据需要调整产品卡片的宽度 */
}

.product {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.333% - 20px);
  transition: transform 0.3s ease; /* 添加过渡动画 */
}

.product:hover {
  transform: scale(1.1); /* 鼠标悬停时放大 1.1 倍 */
}

.product-image {
  height: 100px;
  width: 100px;
}

.product-name {
  font-weight: bold;
  color: rgb(29, 28, 28);
  font-size: medium;
  margin: 0 10px;
}

.product-description {
  font-weight: bold;
  font-size:smaller;
  color: rgb(134, 129, 129);
  margin: 0 10px;
}


.product-price {
  color: #f00;
}