body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	display: flex;
	width: 800px;
	height: 400px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.image-side {
	background-image: url(../img/R.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100%;
}

.form-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: #ffffff;
}

.login-form,
.register-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.register-form {
	display: none;
}

input {
	width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

button {
	width: 80%;
	padding: 10px;
	font-size: 14px;
	color: #ffffff;
	background-color: #333333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #666666;
}

h2 {
	margin-bottom: 20px;
}
